

.pageDiv{
    width: 50vw;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    /* overflow: scroll; */
    align-content: center;
    margin: 30px auto;
    position: relative;


}

.pageDiv button {
    width: 40px;
    height: 40px;
    outline: none;
    padding: 10px;
    text-align: center;
}
.pageDiv button:focus{
    background-color: #222;
    color: white;
    opacity: 0.7;
}
.pageDiv button:hover{
    color: white;
    background-color: #222;
}