
.container {
    border: 1px solid black;
    margin: 10rem auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    gap: 2rem;
}
.poster{
    border: 2px solid red;
    display: flex;
    justify-content: center;
    height: 400px;
    width: 400px;
    justify-content: center;
    margin: 0 auto;
    border-radius: 15px;
    transform: rotate(5deg)
}
.poster-img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    /* display: none; */

}