
.maincontainer{
    display: grid;
    background-color: aqua;
    grid-template-columns: 1fr 3fr;
    padding: unset;
}


@media screen and (max-width: 600px) {
    
   .maincontainer{
    display: flex;
    justify-content: center;
   }
}