


    
    .maincontainer{
        display: flex;
    }
    .col-1{
        flex: 1;
        height: 100vh;
        overflow: scroll;

        
    }
   
    .filteredsetting{
        height: 100vh;
    }
    .searchBox{
        display: none;

    }



    /* col-2 */

    .col-2{
        flex: 3;
        height: 100vh;
        overflow: scroll;


    }

    .filteredDataTransferDiv{

        display: flex;
        overflow: hidden;
        

    }

  

