
.maincontainer{
    display: grid;
    background-color: aqua;
    grid-template-columns: 1fr 3fr;
    padding: unset;
}
.toggle button {
    position: absolute;
    left: 7%;
    font-size: 33px;
    cursor: pointer;
    top: 10px;
    width: 40px;
    background: unset;
    border-radius: 15px;
    border-color: azure;
    display: none;
}
.toggle button:hover{
    transform: scale(1.2);
    background-color: aliceblue;

    color: red;
}

.col-1{
    width: 30%;
}
.col-2{
    width: 100%;
    margin: 0;
    border: 1px solid black;
}
