

/* MainContainer */



@media screen and (max-width: 950px) {
    
    .maincontainer{
     display: flex;
     /* justify-content: space-between; */
     width: 100%;
    }
   .col-1{
    width: 3%;
    /* display: none; */
   }
   .col-2{
    width: 100%;

   }

   .toggle button {
    position: absolute;
    font-size: 33px;
    cursor: pointer;
    top: 10px;
    width: 40px;
    background: unset;
    border-radius: 15px;
    border-color: azure;
    top: 50%;
    z-index: 100;
    display: block;
}
  
    
  }
  
  
  
  /* FilteredSetting */
  
  /* @media screen and (max-width: 600px) {
      
    .filteredsetting{
  
       height: 100vh;  
       background-color: #222;
       color: aliceblue;
       border-radius: 15px;
       position: fixed;
       width: 30%;
       opacity: 0.6;
       display: grid;
       display: none;
       grid-template-columns: 1fr;
       overflow-x: scroll;
    }
   
  } */

  @media screen and (max-width:850px) {
    .filteredsetting{

        height: 100vh;  
        background-color: #222;
        color: aliceblue;
        border-radius: 15px;
        position: fixed;
        width: 60%;
        opacity: 0.6;
        display: flex;
        /* display: none; */
        overflow-x: scroll;
        justify-content: space-around;
        border: 1px solid white;
        flex-direction: column;
        z-index: 99;
    }
    .searchBox{
        width: 100px;
        align-items: center;
        height: 20px;
        text-align: center;
        margin: 10px auto;
        /* display: none; */
    }
    #inputSearchBox {
        width: 70%;
        height: 20px;
        border-radius: 15px;
        text-align: center;
        border-radius: 10px;
        background: #222;
        border: 0.1px solid white;
        color: white;
        font-size: 4px;
    
    }
    .mainbox{
      
        border: 1px solid white;
         
    }
    .genreBox{
        border: 1px solid white;
        /* display: grid; */
        /* grid-template-columns: 1fr 1fr 1fr; */
        overflow-wrap:nowrap;
        height: 50px;
        width: 40px;
        /* place-items: center; */
        /* overflow: scroll;  */
        border-radius: 4px;
    }
  }


  /* DataCard */
  @media screen and (max-width:600px) {
    .container {
      /* display: none; */
      padding: 2rem 0rem;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      justify-content: space-around;
      /* gap: 1rem; */
      background-color: #959191;
      width: 100%;
    }
    .poster {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    justify-content: center;
    margin: 0 auto;
    border-radius: 15px;
    background: #222;
    cursor: pointer;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    }
  }