
@media screen and (max-width:600px) {
    
    .maincontainer{
        display: flex;
    }
    .col-1{
        flex: 1;
        height: 100vh;
        
    }
   
    .filteredsetting{
        overflow: hidden;
        height: 100vh;
    }
    .searchBox{
        display: none;
    }



    /* col-2 */

    .col-2{
        flex: 3;
        height: 100vh;
    }

    .filteredDataTransferDiv{

        

    }

    .container{
        display: flex;
        flex-direction: column;
    }
    .poster{
        width: 60vw;
        height: 80px;
        display: flex;
        justify-content:space-between ;
        /* position: relative;   */
    }
    
    .mobile-poster-img,.poster-img{
        width: 60px;
        height: 80px;
    }
    .poster span{
        font-size: 4px;
    }
    .poster h2 {
        font-size: 8px;
    }
    .spanUrl{
        display: none;
    }
    .mobileRating{
        bottom: 0;
        left: 10px;
    }
    .mobileRating span{
        color: white;
        font-size: 8px;
    }
    .ratingStar{
        color: gold;
    }
    .mobilePremier{
        bottom: 0px;
        left: 100px;
        color: white;
        font-size: 16px;
    }
    .mobilePremier span {
        font-size: 8px;
    }
    .mobile-view{
        /* position: absolute; */
        display: flex;
        flex-direction: column;
        bottom: 0;
        left: 10px;
        /* display: none; */
        margin: 10px 10px;

    }
   .mobile-genre span{

    color: white;
    font-size: 8px;
   }
   .buttonUrl{
    background: unset;
    width: 100px;
    height: 30px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #2d2b2b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    font-size: 8px;
    display: none;


  }

  /* removing desktop hover effect */

   .poster:hover {

    transform: none;
    border: 0.3px solid white;
    overflow: hidden;
    cursor: pointer;
    }
    /* .genre, .poster-title span , .poster-title .icon{
        display: none;
    } */
  
    .buttonUrl{
        width: 100px;
        height: 10px;
        display: none;

    }


    .poster-title{
        display: none;
        /* display: flex; */
        align-content: space-between;
        padding: 10px;
        align-items: center;
    }

    .poster-rating{
        display: flex;
        justify-content: center;
    }
    .icon{
        height: 10px;
        width: 10px;
    }
    .premiered{
        display: none;
    }
}
