




.filteredsetting{
    height: 100vh;  
    background-color: #222;
    color: aliceblue;
    border-radius: 15px;
    position: fixed;
    max-width: 25%;
    position: fixed;
    display: grid;
    place-content: center;
    z-index: 100;

}

.searchBox{
    width: 20vw;
    align-items: center;
    height: 20vh;
    text-align: center;
    margin: 10px auto;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}
.search-result::-webkit-scrollbar{
    display: none;
}
.search-result{
    overflow-y: scroll;
    height: 20vh;
    padding: 10px;

}
ul {
    list-style: none;

}
.searchLis{
    cursor: pointer;
    font-size: 18px;
    padding-top: 4px;
}
.searchLis:hover{
    /* background-color: #555; */
    color: orange;
}

#inputSearchBox {
    width: 70%;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    border-radius: 10px;
    background: #222;
    border: 0.1px solid white;
    color: white;
    font-size: 19px;

}
#inputSearchBox:hover{
    background-color: #f5f5f5;
    color: #555;
}

.searchBtn{
    height: 20px;
    border: 1px solid wheat;
    margin: 0 5px;
    width: 50px;
    background: unset;
    padding: 0px 10px;
    color: white;
    width: 5vw;
    cursor: pointer;
    transition: all ease-in 50ms;
    border-radius: 15px;

}
.searchBtn:hover{
    background-color: lightgreen;
    color:#222;
}
.mainbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainbox button {
}
.genreBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-wrap:nowrap;
    height: 250px;
    width: 450px;
    place-items: center;
    overflow: scroll; 
    border-radius: 15px;
}
.genreBox::-webkit-scrollbar{
    display: none;
}
.genreBox button {
    display: inline-block;
    margin: 10px 10px;
    height: 40px;
    width: 60px;
    border-radius: 15px;
    cursor: pointer;
}
.resetFilter{
    display: inline-block;
    margin: 10px 10px;
    height: 40px;
    width: 100px;
    border-radius: 15px;
    cursor: pointer;


}
.genreBox button:hover{
    transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
}

.resetFilter:hover{
    transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
}
.ratingRange{
    display: flex;
    justify-content: center;
    margin: 20px;
}