/* 




.filteredsetting{
    height: 100vh;  
    background-color: #222;
    color: aliceblue;
    border-radius: 15px;
    position: fixed;
    max-width: 25%;
    position: fixed;
    display: grid;
    place-content: center;

}

.mainbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainbox button {
}
.genreBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-wrap:nowrap;
    height: 250px;
    width: 450px;
    place-items: center;
    overflow: scroll; 
    border-radius: 15px;
}
.genreBox::-webkit-scrollbar{
    display: none;
}
.genreBox button {
    display: inline-block;
    margin: 10px 10px;
    height: 40px;
    width: 60px;
    border-radius: 15px;
    cursor: pointer;
}
.resetFilter{
    display: inline-block;
    margin: 10px 10px;
    height: 40px;
    width: 100px;
    border-radius: 15px;
    cursor: pointer;


}
.genreBox button:hover{
    transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
}

.resetFilter:hover{
    transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
}
.ratingRange{
    display: flex;
    justify-content: center;
    margin: 20px;
} */

.filterSetting{
    background-color: #2d2b2b;
}
.mainbox{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: #222;
    height: 70vh;
    text-align: center;
    width: 70%;
    margin: 20px auto;
    overflow: scroll;
    background-color: #3c3a3a;

}
.categoryDiv{
    display: flex;
    justify-content: start;
    padding: 5px 30%;

}
.mainbox::-webkit-scrollbar{
    display: none;
}
.categoryDiv span {
    font-size: 16px;
    color: white;
}
.resetDiv{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.resetDiv button{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: #3c3a3a;
    color: white;
}