

.filterSetting{

    background-color: rgb(81, 94, 94);}
.mainbox{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: rgb(81, 94, 94);
    height: 70vh;
    text-align: center;
    width: 70%;
    margin: 20px auto;
    overflow: scroll;
    background-color: #3c3a3a;
    border-radius: 10px;

}
.categoryDiv{
    display: flex;
    justify-content: start;
    padding: 5px 30%;

}
.mainbox::-webkit-scrollbar{
    display: none;
}
.categoryDiv span {
    font-size: 16px;
    color: white;
}
.resetDiv{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.resetDiv button{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: #3c3a3a;
    color: white;
}